<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body >
    <div>
        <h3>이력서 등록</h3>
        <form action="r2" method="post">
            <td>
                <tr>이름</tr> <br>
                <tr><input type="text" name="name"></tr> <br>
            </td>
            <td>
                <tr>연락처</tr> <br>
                <tr><input type="text" name="tel"></tr> <br>
            </td>
            <input type="submit" value="등록하러 가기">
        </form>
    </div>
        
</body>
</html>