<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="adminMapper">

    <!--  다음에 insert 할 ITEM_CODE를 조회  -->
    <select id="selectNextItemCode" resultType="int">
        SELECT IFNULL(MAX(ITEM_CODE), 0) + 1
        FROM SHOP_ITEM
    </select>

    <!--   상품 등록   -->
    <insert id="insertItem">
        INSERT INTO SHOP_ITEM(
            ITEM_CODE
            , ITEM_NAME
            , ITEM_PRICE
            , ITEM_INTRO
            , CATE_CODE
        )VALUES(
            #{itemCode}
            , #{itemName}
            , #{itemPrice}
            , #{itemIntro}
            , #{cateCode}
        )
    </insert>

    <!-- ex> foreach(item : collection)  -->
    <!--  상품 이미지 정보 등록  -->
    <insert id="insertImgs">
        INSERT INTO ITEM_IMAGE(
            ORIGIN_FILE_NAME
            ,ATTACHED_FILE_NAME
            ,IS_MAIN
            ,ITEM_CODE
        ) VALUES
        <foreach collection="imgList" item="img" separator=",">
            (#{img.originFileName}
            ,#{img.attachedFileName}
            ,#{img.isMain}
            ,#{img.itemCode})
        </foreach>
    </insert>

    <!--  구매 목록 조회 (관리자용)  -->
    <!--  작다 < : &lt; less than -->
    <!--  크다 > : &gt; greater than -->
    <select id="adminSelectBuyList" resultMap="buyMapper.buy">
        SELECT
            BUY_CODE
            , MEMBER_ID
            , BUY_PRICE
            , BUY_DATE
        FROM SHOP_BUY
        WHERE 1 = 1
        <if test='searchValue != null and !searchValue.equals("")'>
            AND ${searchType} LIKE CONCAT('%', #{searchValue} ,'%')
        </if>
        <if test='fromDate != null and !fromDate.equals("")'>
            AND DATE_FORMAT(BUY_DATE, '%Y-%m-%d') &gt;= #{fromDate}
        </if>
        <if test='toDate != null and !toDate.equals("")'>
            AND DATE_FORMAT(BUY_DATE, '%Y-%m-%d') &lt;= #{toDate}
        </if>
        ORDER BY BUY_DATE DESC
    </select>

    <select id="adminSelectList" resultMap="buyMapper.buy">
        SELECT
            BUY.BUY_CODE
            , MEMBER_ID
            , ITEM.ITEM_CODE
            , ITEM.ITEM_NAME
            , IMG.ATTACHED_FILE_NAME
            , BUY_CNT
            , TOTAL_PRICE
            , BUY_DATE
            , BUY_PRICE
        FROM buy_detail DETAIL
        INNER JOIN shop_item ITEM
        ON DETAIL.ITEM_CODE = ITEM.ITEM_CODE
        INNER JOIN ITEM_IMAGE IMG
        ON DETAIL.ITEM_CODE = IMG.ITEM_CODE
        INNER JOIN shop_buy BUY
        ON DETAIL.BUY_CODE = BUY.BUY_CODE
        WHERE IS_MAIN='Y'
        AND BUY.BUY_CODE = #{buyCode}
    </select>


    <select id="selectItemList" resultMap="itemMapper.item">
        SELECT ITEM_CODE
            ,ITEM_NAME
            ,ITEM_STOCK
            ,ITEM_STATUS
            ,CASE
                WHEN ITEM_STATUS = 1 THEN '준비 중'
                WHEN ITEM_STATUS = 2 THEN '판매 중'
                ELSE '매진'
                END AS 'STR_STATUS'
        FROM SHOP_ITEM
    </select>

    <select id="selectItemDetail" resultMap="itemMapper.item">
        SELECT ITEM.CATE_CODE
            ,CATE_NAME
            ,ITEM_STOCK
            ,ITEM_NAME
            ,ITEM_STATUS
            ,ITEM.ITEM_CODE
            ,ORIGIN_FILE_NAME
            ,ATTACHED_FILE_NAME
            ,IMG_CODE
            ,IS_MAIN
        FROM SHOP_ITEM ITEM
        INNER JOIN ITEM_CATEGORY CATE
        ON ITEM.CATE_CODE = CATE.CATE_CODE
        INNER JOIN ITEM_IMAGE IMG
        ON ITEM.ITEM_CODE = IMG.ITEM_CODE
        WHERE ITEM.ITEM_CODE = #{itemCode}
    </select>


    <update id="updateItemDetail">
        UPDATE SHOP_ITEM
        SET ITEM_NAME = #{itemName}
            ,ITEM_STOCK = #{itemStock}
            ,ITEM_STATUS = #{itemStatus}
            ,CATE_CODE = #{cateCode}
        WHERE ITEM_CODE = #{itemCode}


    </update>


</mapper>































