<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<style>
    .container{
        width: 700px;
        margin: 0 auto;
    }
    table{
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }
    tr, td{
        border: 1px solid black
    }
    .btn-div{
        text-align: center;
    }
</style>
</head>
<body>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <td>글번호</td>
                    <td>제목 </a></td>
                    <td>작성자</td>
                    <td>작성일</td>
                    <td>조회수</td>
                </tr>
            </thead>
            <tbody>
                <!-- 조회된 데이터가 없으면 -->
                <!-- th:if="" = th:if() 동일 -->
                <th:block th:if="${#lists.isEmpty(boardList)}">
                    <tr>
                        <td colspan="5">등록된 게시글이 없습니다</td>
                    </tr>
                </th:block>
                <!-- 조회된 데이터가 있으면 -->
                <!-- th:if, th:unless 가 있음 -->
                <th:block th:if="${!#lists.isEmpty(boardList)}">
                        <tr th:each="boardVO : ${boardList}">
                            <td>[[${boardVO.boardNum}]]</td>
                            <td>
                                <a th:href="@{/boardDetail(boardNum=${boardVO.boardNum})}">
                                    [[${boardVO.boardTitle}]]
                                </a>
                            </td>
                            <td>[[${boardVO.writer}]]</td>
                            <td>[[${boardVO.createDate}]]</td>
                            <td>[[${boardVO.readCnt}]]</td>
                        </tr>
                </th:block>
            </tbody>
        </table>
        <div class="btn-div">
            <input type="button" value="글쓰기" onclick="location.href='/boardWriteForm'">
        </div>
    </div>
</body>
</html>