.container{
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
/* > : 자식 태그를 의미 */
.container > tbody > tr, .container > tbody > tr > td{
    border: 1px solid black;
    height: 700px;
    vertical-align: top;        
}
/* ' ' : 자손 태그 */

#stu-list-table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}
#stu-list-table tr, #stu-list-table td{
    border: 1px solid black;
}
/* hover : 마우스 올리면~ */
#stu-list-table tr:hover{
    background-color: #dddddd;
}

.stu-detail-div table{
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.stu-detail-div table tr, .stu-detail-div table td{
    border: 1px solid black;
}
.stu-detail-div > div:first-child{
    margin-bottom: 30px;
}
#name-span:hover{
    cursor: pointer;
}
.score-input{
    width: 30px;
}
