<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>파일 업로드 테스트</h2>
    <!-- 파일 업로드 할 때는 enctype = "multipart/form-data"을 무조건 넣어야 함 -->
    <!-- multipart/form-data은 첨부파일도 인식 할 수 있게 변환해주는 것 -->
    <form action="/file/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="img1"><br>
        <input type="file" name="img2"><br>
        <input type="submit" value="업로드">
    </form>
</body>
</html>