<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <input type="button" value="버튼" id="btn"> <br>
    <input type="text" id="text">



    <script>
        //이벤트 처리
        const btn  = document.querySelector('#btn');
        const text = document.querySelector('#text');
        text.addEventListener('keyup', function(){
            console.log(text.value);
        });
        console.log();
        //input 태그에 키보드로 값을 입력할 때마다
        //입력한 값을 console에 출력시키는 이벤트 코드를 작성.

        

        

    </script>
    
</body>
</html>